<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dashboard</h1>
    <p>Welcome <b><%= username %></b></p>
    <%# 
    you may want to use a script that do something with the token stored in the cookies (maybe put it into local storage?).
   	note that if not persisted it be lost after closing the browser and you will need make login again %>
  </body>
</html>
