@charset "UTF-8";

form#fContato {
	width: 700px;
	margin: auto;
}

input, textarea {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255,255,255,0.3);
}

input:hover, textarea:hover {
	background-color: #dddddd;
}

input#cNum {
	margin-left: 23px;
}

input#cCor {
	margin-left: 5px;
	width: 90px;
}

input#cUrg {
	margin-left: 15px;
	margin-right: 15px;
}

p#pCentro {
	margin-left: 140px;
	margin-top: 30px;
}

textarea#cMsg {
	margin-left: 50px;
	margin-top: 10px;
}

select#cEst, input#cCid {
	margin-left: 28px;
}

legend {
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}

fieldset {
	border-color: #cecece;
	margin: 10px;
}

fieldset#sexo {
	width: 305px;
	margin-left: 50px;
}

fieldset#usuario {
	background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco {
	background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem {
	background: url("../_imagens/icone-mensagem.png") no-repeat 100% 95%;
}

fieldset#pedido {
	background: url("../_imagens/icone-pagamento.png") no-repeat 100% 95%;
}

